<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h3><a th:href="@{/product}">Product list</a></h3>
<h2>Create New Product:</h2>
<form th:object="${product}" th:action="@{/product/save}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="cat:${categories}"
                            th:text="${cat.name}"
                            th:value="${cat.id}">
                    </option>
                </select>
            </td>

        </tr>

    </table>
    <input type="submit" value="Save">
</form>

</body>
</html>