<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<h3><a th:href="@{/product}">Product list</a></h3>
<h3>Edit Product:</h3>
<form th:object="${product}" th:action="@{/product/update}" method="post">
    <table>
        <input type="hidden" th:value="${product.id}" th:field="*{id}">
        <tr>
            <td>Name</td>
            <td><input type="text" th:value="${product.name}" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:value="${product.price}" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td><input type="text" th:value="${product.category}" th:field="*{category}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>