<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>

<form th:object="${category}">
    <div>
        <label>Name</label>
        <input type="text" th:value="${category.name}">
    </div>
    <div>
        <label>Products</label>
        <table border="1">
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
            <tr th:each="pro:${products}">
                <td th:text="${proStat.count}"></td>
                <td th:text="${pro.name}"></td>
                <td th:text="${pro.price}"></td>
            </tr>
        </table>
    </div>

</form>
</body>
</html>